<section class="fade-page">

    <div class="contentmax">

        <div class="second">
            <button type="button" class="logos" (click)="back()" aria-label="Zurück">
                <app-logo></app-logo>
            </button>
        </div>

        <div class="menu">

            <nav>

                <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                    Home
                </a>

                <a routerLink="/ueber-mich" routerLinkActive="active-link">
                    Über mich
                </a>

                <a routerLink="/zenbo-balance" routerLinkActive="active-link">
                    ZENbo®Balance
                </a>

                <a routerLink="/resilienz-training" routerLinkActive="active-link">
                    Resilienz-Training
                </a>

                <a routerLink="/kontakt" routerLinkActive="active-link">
                    Kontakt
                </a>

                <a routerLink="/prices" routerLinkActive="active-link">
                    Preise & Termine
                </a>

            </nav>
        </div>

        <input class="checkbox" type="checkbox" id="toggle_button">
        <label for="toggle_button" class="toggle_button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>

    </div>

</section>
