<section>

    <div class="contentmax">

        <div class="second">
            <button type="button" class="logos" (click)="back()" aria-label="Zurück">
                <app-logo></app-logo>
            </button>
        </div>

        <input class="checkbox" type="checkbox" id="toggle_button">
        <label for="toggle_button" class="toggle_button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>

        <div class="menu">

            <nav>

                <a routerLink="/">Home</a>
                <a routerLink="/ueber-mich">Über mich</a>
                <a routerLink="/zenbo-balance">ZENbo®Balance</a>
                <a routerLink="/resilienz-training">Resilienz-Training</a>
                <a routerLink="/kontakt">Kontakt</a>
                <a routerLink="/prices">Preise & Termine</a>

            </nav>
        </div>

    </div>

</section>