@use '../scss_global/global.style.scss' as *;

section.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $c-bg;

    >div.main-content-positon {
/*         height: 300px; */
        width: 1500px;
        padding: 20px;
        background-color: #858E79;
        /* Leicht transparenter weißer Kasten für den Text */
        border-radius: 10px;
        text-align: center;
    }
}

h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 46px;
    line-height: 1.6;
    font-weight: bolder;
    background-color: #858E79;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    background-color: #858E79;
}