<section class="main-section fade-page">
    <div class="about-layout">

        <div class="main-content-positon">
            <div class="photo-placeholder">
                <img class="about-photo" src="assets/img/portraitfoto.JPG" alt="Portraitfoto">
            </div>

            <div>
                <h1>{{ language.aboutme.titel }}</h1>
                <div class="main-context">
                    @for (paragraph of language.aboutme.paragraphs; track $index) {
                    <p class="home-paragraph">
                        {{ paragraph }}
                    </p>
                    }
                </div>
                <div class="main-context training-context">
                    <h2>{{ language.aboutme.trainingTitle }}</h2>
                    <div class="training-list">
                        @for (training of language.aboutme.trainings; track $index) {
                        <div class="training-row">
                            <span class="training-year">{{ training.year }}</span>
                            <span>{{ training.text }}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
