<section class="fade-page">
    <div class="back-button-pos">
        <button class="b-left" type="button" (click)="back()" aria-label="Zurück zur Startseite">
            <app-yellow-arrow-left></app-yellow-arrow-left>
        </button>
    </div>

    <div class="impressum">
        <h1>Impressum</h1>

        <p>Max Mustermann<br>
            Musterladen (Einzelunternehmer)<br>
            Musterstra&szlig;e 111<br>
            Geb&auml;ude 44<br>
            90210 Musterstadt</p>

        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 123 44 55 66<br>
            Telefax: +49 (0) 123 44 55 99<br>
            E-Mail: mustermann&#64;musterfirma.de</p>

        <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>

        <p>Quelle: <a href="https://www.e-recht24.de" target="_blank" rel="noopener">e-recht24.de</a></p>
    </div>
</section>
