<section class="bewegung-section fade-page">
    <h1>{{ language.bewegung.titel }}</h1>

    @if (language.bewegung.containers.length > 0) {
    <p class="hero-quote">
        {{ language.bewegung.containers[0][0] }}
    </p>
    }

    <div class="bewegung-content-positon">
        <div class="bewegung-context">
            <div class="text-container-wrapper">
                @for (container of language.bewegung.containers; track $index) {
                @if ($index > 0) {
                <article class="p-txt" [class.card-intro]="$index === 1" [class.card-focus]="$index === 2"
                    [class.card-flow]="$index === 3">
                    @for (paragraph of container; track $index) {
                    <p class="bewegung-paragraph">
                        {{ paragraph }}
                    </p>
                    }
                </article>
                }
                }
            </div>
        </div>
    </div>
</section>
