<section class="main-section">
    <div class="main-content-positon">
        <!-- <button type="button" (click)="language.toggleLanguage()">Change Language</button> -->

        <div class="main-context">
            <div class="text-container-wrapper">
                @for (container of language.pricesdate.containers; track $index) {
                <div class="p-txt">
                    @for (paragraph of container; track $index) {
                    <p class="home-paragraph">
                        {{ paragraph }}
                    </p>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</section>