@use '../scss_global/global.style.scss' as *;

section.main-section {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    background-color: $c-bg;
    padding-top: $page-content;

    >div.main-content-positon {
        /*         height: 300px; */
        width: 1500px;
        padding: 20px;
        /* Leicht transparenter weißer Kasten für den Text */
        border-radius: 10px;
        text-align: center;
        /*         background-color: #D0AA86; */
    }
}

img {
    height: 300px;
}

.p-txt {
    padding: 12px;
    border-radius: 10px;
    background-color: #D0AA86;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    background-color: #D0AA86;
}