<section class="main-section">
    <div class="main-content-positon">
        <!--         <button type="button" (click)="language.toggleLanguage()">Change Language
        </button> -->
        <div class="main-context">
            <div class="p-txt">
                @for (paragraph of language.pricesdate.paragraphs; track $index) {
                <p class="home-paragraph">
                    {{ paragraph }}
                </p>
                }
            </div>
        </div>
    </div>
</section>