<section class="main-section">

    @if (language.home.containers.length > 0) {
    <div class="p-txt first-container">
        @for (paragraph of language.home.containers[0]; track $index) {
        <p class="home-paragraph first-paragraph">
            {{ paragraph }}
        </p>
        }
    </div>
    }

    <div class="main-content-positon">
        <div class="main-context">

            <div class="text-container-wrapper">

                @for (container of language.home.containers; track $index) {
                @if ($index > 0) {
                <div class="p-txt">
                    @for (paragraph of container; track $index) {
                    <p class="home-paragraph">
                        {{ paragraph }}
                    </p>
                    }
                </div>
                }
                }

            </div>
        </div>
    </div>
</section>