<section class="fade-page">
    <div class="back-button-pos">
        <button class="b-left" type="button" (click)="back()" aria-label="Zurück zur Startseite">
            <app-yellow-arrow-left></app-yellow-arrow-left>
        </button>
    </div>

    <div class="data-notice">
        <h1>{{ language.legalNotice.title }}</h1>

        <h1>{{ language.legalNotice.s1Title }}</h1>
        <p>{{ language.legalNotice.s1Subtitle }}</p>
        <p>{{ language.legalNotice.s1P1 }}</p>

        <p>{{ language.legalNotice.s2Title }}</p>
        <p>{{ language.legalNotice.s2Q1 }}</p>
        <p>{{ language.legalNotice.s2A1 }}</p>
        <p>{{ language.legalNotice.s2Q2 }}</p>
        <p>{{ language.legalNotice.s2A2a }}</p>
        <p>{{ language.legalNotice.s2A2b }}</p>
        <p>{{ language.legalNotice.s2Q3 }}</p>
        <p>{{ language.legalNotice.s2A3 }}</p>
        <p>{{ language.legalNotice.s2Q4 }}</p>
        <p>{{ language.legalNotice.s2A4 }}</p>
        <p>{{ language.legalNotice.s2A4b }}</p>

        <h1>{{ language.legalNotice.s3Title }}</h1>
        <p>{{ language.legalNotice.s3P1 }}</p>
        <p>{{ language.legalNotice.s3ProviderTitle }}</p>
        <p>{{ language.legalNotice.s3ProviderText }}</p>
        <p>
            {{ language.legalNotice.s3InfoText }}<br>
            <a [href]="language.legalNotice.s3ProviderUrl" target="_blank" rel="noopener">
                {{ language.legalNotice.s3ProviderUrl }}
            </a>.
        </p>
        <p>{{ language.legalNotice.s3LegalBasis }}</p>
        <p>{{ language.legalNotice.s3ProcessingTitle }}</p>
        <p>{{ language.legalNotice.s3ProcessingText }}</p>

        <h1>{{ language.legalNotice.s4Title }}</h1>
        <p>{{ language.legalNotice.s4Subtitle }}</p>
        <p>{{ language.legalNotice.s4P1 }}</p>
        <p>{{ language.legalNotice.s4P2 }}</p>
        <p>{{ language.legalNotice.s4P3 }}</p>

        <p>{{ language.legalNotice.s5Subtitle }}</p>
        <p>{{ language.legalNotice.s5Intro }}</p>
        <p>
            {{ language.legalNotice.s5Name }}<br>
            {{ language.legalNotice.s5Street }}<br>
            {{ language.legalNotice.s5City }}
        </p>
        <p>
            {{ language.legalNotice.s5Phone }}<br>
            {{ language.legalNotice.s5Email }}
        </p>
        <p>{{ language.legalNotice.s5ControllerText }}</p>

        <p>{{ language.legalNotice.s6Subtitle }}</p>
        <p>{{ language.legalNotice.s6P }}</p>

        <p>{{ language.legalNotice.s7Subtitle }}</p>
        <p>{{ language.legalNotice.s7P }}</p>

        <p>{{ language.legalNotice.s8Subtitle }}</p>
        <p>{{ language.legalNotice.s8P }}</p>

        <p>{{ language.legalNotice.s9Subtitle }}</p>
        <p>{{ language.legalNotice.s9P }}</p>

        <p>{{ language.legalNotice.s10Subtitle }}</p>
        <p>{{ language.legalNotice.s10P1 }}</p>
        <p>{{ language.legalNotice.s10P2 }}</p>

        <p>{{ language.legalNotice.s11Subtitle }}</p>
        <p>{{ language.legalNotice.s11P }}</p>

        <p>{{ language.legalNotice.s12Subtitle }}</p>
        <p>{{ language.legalNotice.s12P }}</p>

        <p>{{ language.legalNotice.s13Subtitle }}</p>
        <p>{{ language.legalNotice.s13P }}</p>

        <p>{{ language.legalNotice.s14Subtitle }}</p>
        <p>{{ language.legalNotice.s14Intro }}</p>
        <ul>
            <li>{{ language.legalNotice.s14Li1 }}</li>
            <li>{{ language.legalNotice.s14Li2 }}</li>
            <li>{{ language.legalNotice.s14Li3 }}</li>
            <li>{{ language.legalNotice.s14Li4 }}</li>
        </ul>
        <p>{{ language.legalNotice.s14Outro }}</p>

        <p>{{ language.legalNotice.s15Subtitle }}</p>
        <p>{{ language.legalNotice.s15P1 }}</p>
        <p>{{ language.legalNotice.s15P2 }}</p>

        <p>{{ language.legalNotice.s16Subtitle }}</p>
        <p>{{ language.legalNotice.s16P }}</p>

        <h1>{{ language.legalNotice.s17Title }}</h1>
        <p>{{ language.legalNotice.s17Subtitle }}</p>
        <p>{{ language.legalNotice.s17Intro }}</p>
        <ul>
            <li>{{ language.legalNotice.s17Li1 }}</li>
            <li>{{ language.legalNotice.s17Li2 }}</li>
            <li>{{ language.legalNotice.s17Li3 }}</li>
            <li>{{ language.legalNotice.s17Li4 }}</li>
            <li>{{ language.legalNotice.s17Li5 }}</li>
            <li>{{ language.legalNotice.s17Li6 }}</li>
        </ul>
        <p>{{ language.legalNotice.s17P1 }}</p>
        <p>{{ language.legalNotice.s17P2 }}</p>

        <p>{{ language.legalNotice.s18Subtitle }}</p>
        <p>{{ language.legalNotice.s18P1 }}</p>
        <p>{{ language.legalNotice.s18P2 }}</p>
        <p>{{ language.legalNotice.s18P3 }}</p>

        <p>{{ language.legalNotice.sourceLabel }}</p>
        <a [href]="language.legalNotice.sourceUrl" target="_blank" rel="noopener">
            {{ language.legalNotice.sourceText }}
        </a>
    </div>
</section>
