@mixin display($d: flex, $j: center, $a: center, $f: column) {
    display: $d;
    justify-content: $j;
    align-items: $a;
    flex-direction: $f;
}

@mixin position($p: absolute, $z: 99, $h: 100%, $w: 100%) {
    position: $p;
    z-index: $z;
    height: $h;
    width: $w;
}

section {
    @include display();
    @include position($p: null, $z: null);
    background-color: rgb(28, 28, 28);
    padding-top: 100px;
    cursor: default;
    overflow-wrap: anywhere;

    >.data-notice {
        @include display();
        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 64px;
        padding-left: 64px;
        gap: 14px;
        color: #3DCFB6;
        max-width: 1590px;
    }

    h1 {
        font-family: Fira_Code;
        font-weight: bolder;
        font-size: 32px;
        color: #FFFFFFCC;
    }

    p {
        display: block;
        text-align: justify;
        font-family: Karla;
        font-size: 18px;
    }

    a {
        font-family: Karla;
        font-size: 18px;
        text-decoration: none;
        color: #FFFFFFCC;

        &:hover {
            color: #227165;
        }
    }

    .back-button-pos {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        max-width: 1700px;
    }

    button {
        border: unset;
    }
}

@media (max-width: 700px) {

    section>.data-notice {
        padding-right: 16px;
        padding-left: 16px;
    }

}