<div class="background-color">
    <section id="footer">
        <div>
            <div class="place-logo">
                <div (click)="this.back()" class="logo">
                </div>
                <span>PLACEHOLDER</span>
                <span style="padding-top: 8px;">PLACEHOLDER</span>
            </div>
            <span>&#169; devcontain 2026</span>
            <div class="place-links">
                <div>
                    <a href="mailto:contact[at]devcontain.de"><img class="green-point">Email</a>
                </div>
                <div>
                    <a routerLink="/imprint"><img class="green-point">imprint</a>
                </div>
                <div>
                    <a routerLink="/legal-notice"><img class="green-point">legal-notice</a>
                </div>
            </div>
        </div>
    </section>
</div>