<div class="background-color fade-page">
    <section id="footer">
        <div>
            <div class="place-logo">
            <button type="button" class="logos" (click)="back()" aria-label="Zurück">
                <app-logo></app-logo>
            </button>
<!--                 <span>PLACEHOLDER</span>
                <span style="padding-top: 8px;">PLACEHOLDER</span> -->
            </div>
            <span>&#169; devcontain 2026</span>
            <div class="place-links">
                <div>
                    <a routerLink="/imprint"><img class="green-point">Impressum</a>
                </div>
                <div>
                    <a routerLink="/legal-notice"><img class="green-point">Datenschutz</a>
                </div>
            </div>
        </div>
    </section>
</div>