<section id="footer" class="fade-page">
    <div>
        <div class="place-logo">
            <span>Katja Wersuhn,</span>
            <span>Trainerin für Resilienz, <span class="footer-training-break">Bewegung und Entspannung</span></span>
        </div>
        <div class="footer-credit">
            <span>&#169; devcontain 2026</span>
            <span>picture by pixabay</span>
        </div>
        <div class="place-links">
            <div>
                <a routerLink="/imprint"><img class="green-point" src="assets/img/sunflower_abstract.png" alt="">Impressum</a>
            </div>
            <div>
                <a routerLink="/legal-notice"><img class="green-point" src="assets/img/sunflower_abstract.png" alt="">Datenschutz</a>
            </div>
        </div>
    </div>
</section>
